*{
    margin: 0;
    padding: 0;
    font-family:"roboto", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    background-color:#e0e2e9;
    color: bisque;
    max-width: 100%;



}

.login{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    box-shadow: 10px 10px 20px gray,
     -10px 10px 20px gray; 
    backdrop-filter: blur(30px);
    width: 400px;
    justify-content: center;
    padding: 50px;
    background-color: #000000;
    border-radius: 15px;

}
h1{
    padding-bottom: 20px;
}
/* usuário e senha */
.dados{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
i{      display: flex;
        padding-top: 37px;
        padding-right: 10px;
        font-size: 20px;
}
.user, .password{
    display: flex;
}

input{
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 16px;
    height: 30px;
    width:330px;
    padding: 8px 12px;
    background-color: #e0e2e9;

}
::placeholder{
    display: flex;
    font-size: 15px;
    text-align: start;
}
label{
    display: flex;
    font-size: 15px;
    color: gray;
    padding-bottom: 7px;
}

/* registro */

nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 390px;;

}
a{
    color: gray;
}

button{
    font-size: 18px;
    padding: 15px 175px;
    border-radius: 5px;
    border: none;
    background-color: #e0e2e9;
    color: rgb(17, 17, 17);
    cursor: pointer;

}


a:hover{
color: bisque;
transition: 0.8s;
}

button:hover{
    background-color: bisque;
    transition: 0.8s;

}

input:hover{
    padding: 10px 12px;

}


/* responsividade */
@media screen and (max-width:520px){
    

    body{
        height: none;
            padding: 50px 0px;
    }
.login{
    width: 200px;
    font-size: 16px;


}
button{
    padding: 8px 108px;
    font-size:15px;
}

a{
    font-size: 12px;
}
nav{

    width: 250px;;

}
input{
    width: 200px;
    padding: 0px 6px;
    justify-content: center;

}

input:hover{
    padding: 0px 5px;


}
::placeholder{
    font-size:10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

i{
    padding-top: 25px;
}
label{
    font-size: 12px;
}
}

